.logo_image {
    width: 40px;
    height: auto;
    padding: 10px;
}

p {
font-family: Metropolis;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 50px;
}

#banner>p {
    position: absolute;
    font: bold;
    text-transform: uppercase;
    margin-left: 60px;
    font-size: 12pt;
}

#banner #navbar {
    font-family: Metropolis;
    font-weight: medium ;
    font-size: 12pt;
    justify-content: flex-end;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    width: 40%;
}

#banner #navbar ul>li {
    margin: 20px;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
}

div.hero_section {
    background-color: #2F3849;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_wrapper {
    position: absolute;
    margin: 100px 0 -200px 1600px;
    border-color: #FEFEFE;
    border-radius: 15pt;
    border-width: 5px;
    border-style: solid;
    padding: 0 50px 0 50px;
    width: max-content;
    text-align: center;
    color: #DADADA;
}

div.hero_section .title_wrapper>p {
    font-size: 24pt;
    font-family: Metropolis;
}

img.serrated_blob {
    position: relative;
    margin: 400px 0 0 100px;
    width: 1000px;
    height: auto;
}

img.model_photo {
    width: auto;
    max-height: 100%;
    position: relative;
    margin: 600px 0 0 200px;
    display: block;
}

div.hero_section .quotation_mark_image {
    position: relative;
    margin: -150px 0 0 1400px;
    width: 100px;
    height: auto;
}

#grayscaleToggle {
    position: absolute;
    margin: -800px 0 0 2600px;
    padding: 20px;
}

body {
    transition: filter 0.3s ease-in-out;
}

body.grayscale {
    filter: grayscale(100%)
}

.hero_section>h1 {
    font-family: Metropolis;
    font-size: 50pt;
    margin: 0 0 0 1600px;
}

.cards_section {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    margin: -50px 0 0 1200px;
}

.info_card_1 {
    background-color: #525866;
    border-radius: 10pt;
    width: 500px;
    height: 750px;
    padding: 40px;
    margin: 0 50px;
    display: block;
    justify-content: flex-start;
}

.info_card_2 {
    background-color: #525866;
    border-radius: 10pt;
    width: 700px;
    height: 750px;
    padding: 40px;
    margin: 0 50px;
    display: block;
    justify-content: flex-start;
}

.cards_section h2 {
    font-size: 40px;
    font-family: Metropolis;
}

.info_card_1>img.passport_image{
    width: 500px;
    height: auto;
    border-radius: 4%;
}

.info_card .horizontal_line {
    border: none;
    border-top: 10px;
    margin: 20px 0;
    width: 400px;
    height:4px;
    border-color: #DADADA;
}

/* .info_card h2~img.quotation_mark_image {
    width: 50px;
    height: auto;
    margin-left: 50px;
} */

.cards_section h2~p{
    font-size: 28px;
    font-family: Metropolis;
    margin: 40px 0 0 0;
    color: #DADADA;
}

.skills_table {
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0 0 -40px;
}

.skills_table th, .skills_table td {
    border: 2px solid #DADADA;
    padding: 15px 180px 15px 50px;
    text-align: left;
    font-family: Metropolis;
    font-size: 16pt;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #FEFEFE;
}

.footer {
    margin: 800px 0 0 200px;
}